/* Apply general styling for both pages */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333; /* Grey background */
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #222; /* Darker grey for header */
    color: white;
    padding: 15px 0; /* Add space around the header */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

main {
    padding: 20px;
}

/* Player container */
#player-container {
    background-color: #555; /* Grey background around the player */
    padding: 20px;
    border-radius: 8px;
}

/* Fullscreen button */
#fullscreen-button {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: red;
    color: white;
    border: 2px solid black; /* Black border */
    border-radius: 50px; /* Round button */
    cursor: pointer;
}

#fullscreen-button:hover {
    background-color: #d90000; /* Slightly darker red on hover */
}

/* Homepage Link styling */
.game-link {
    display: inline-block;
    margin: 15px 0;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 15px 30px;
    border-radius: 8px;
    border: 2px solid black;
}

.game-link:hover {
    background-color: #d90000;
}

/* Header for Homepage */
header {
    background-color: #222; /* Darker grey */
    color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0;
}
